/* vim: set ft=css: */

MethodPanel{
        height: 15;
        min-width: 35;
}

MethodPanel Label {
        height: 3;
        content-align: center middle;
        width: 15%;
}

#call_layout{
        align: right middle;
}

#times {
        width: 85%;
}

#start {
        dock: left;
}

#stop {
        dock: left;
        display: none;
}

#reset {
        dock: right;
}
