/* vim: set ft=css: */
NamesPanel {
        width: 30%;
}

TreePanel {
        max-height: 70%;
}

MethodPanel{
        min-height: 20;
        max-height: 30%;
}
MethodPanel Label {
        height: 3;
        content-align: center middle;
        width: 15%;
}

MethodPanel>Horizontal{
        align: right middle;
}

#times {
        width: 85%;
}

#start {
        dock: left;
}

#stop {
        dock: left;
        display: none;
}

#reset {
        dock: right;
}
